*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: $font-text;
  margin: 0;
}

.row::before,
.row::after {
    clear: both;
    content: "";
    display: table;
}

.all_pages {
  background-color: black;
  background-image: url('../../images/background-images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
}

.active {
  border-bottom: solid 2px tomato;
}

.selector {
  display: none;
}

.active-page {
  display: block;
}

.active-box {
  background: rgb(204, 179, 96);
  opacity: 0.8;
}

.start {
  background: green;
}

.finish {
  background: tomato;
}

.found {
  background: green;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .gallery-left , .gallery-right {
    display: none !important;
  }

  .all_pages {
    height: 100vh;
    width: 100vw;
  }

  h1, h4 {
    font-size: 0.6em !important;
  }

  .finder {
    display: none;
  }

  .mobile {
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
    font-family: $font-text;
  }
}
